/* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lexend+Peta:wght@300;400;700&display=swap'); */

.apt-view-div {
    width: 80%;
    /* max-width: 900px; */
    max-width: 60%;
    margin: auto;
    margin-top: 40px;
    /* background-color: blue; */
}

.apt-address {
    font-family: 'Lexend Peta', sans-serif;
    font-size: 80%;
    margin: 0;
    font-weight: 700;
    color: #3B3EFA;
}

.apt-visuals {
    width: 100%;
    margin: auto;
    height: 450px;
    display: flex;
    margin-top: 0%;
    text-align: center;
    font-size: 30px;
}

.apt-pic {
    background-color: teal;
    width: 50%;
    position: relative;
}

.streetview {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.apt-map {
    background-color: turquoise;
    width: 50%;
}

.star-rating {
    margin-top: 5%;
    font-size: 20px;
}