.apartmentView {
    width: 80%;
    /* max-width: 900px; */
    max-width: 60%;
    margin: auto;
    margin-top: 80px;
    /* background-color: blue; */
}

.apartment-visuals {
    /* background-color: violet; */
    width: 100%;
    margin: auto;
    height: 400px;
    display: flex;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

.apartment-pic {
    background-color: teal;
    /* width: 50%; */
    width: 100px;
    height: 100px;
    padding: 10%;
    position: relative;
}

.streetview {
    position: absolute;
    width: 500px;
    height: 450px;
    background-color: #eeeeee;
    top: 0;
    left: 0;
}

.apartment-map {
    background-color: turquoise;
    width: 50%;
    padding: 10%;
    position: relative;
}

.star-rating {
    margin-top: 10%;
    font-size: 20px;
}

.reviews-title {
    margin-top: 10%;
    /* margin-left: 10%; */
    font-size: 22px;
}

.reviews {
    /* background-color: brown; */
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    width: auto;
}

.review-card {
    background-color: rgb(248, 125, 103);
    width: 40%;
    margin: 0 auto;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.review-content {
    font-size: 18px;
}

.review-author {
    float: right;
    margin-top: 5%;
    font-size: 18px;
}

.user-review-form {
    /* background-color: aqua; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.user-review-textbox {
    background-color: rgb(216, 216, 216);
    width: 91%;
    margin: 0 auto;
    height: 120px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    padding: 10px;
    position: relative;
}

.user-review-form {
    margin-bottom: 10%;
}
.user-review-submit-btn {
    position: relative;
    left: 87%;

    width: fit-content;
    height: 36px;
    text-align: center;
    margin-top: 2%;
    /* margin-left: auto;
    margin-right: 10%; */
    background-color: rgb(59, 62, 250);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}