@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lexend+Peta:wght@300;400;600;700&display=swap');

.landing-background {
    background-image: url('../images/map-of-nyc2.png') no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    max-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-filter: saturate(400%);
    filter: saturate(400%);
}

.landing-search {
    align-items: center;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.landing-search input {
    padding-left: 3%;
    border-radius: 20px;
    /* height: 50px !important;
    width: 700px;
    font-size: 20px; */
    font-size: 1.5vw;
    height: 3vw !important;
    width: 40vw;
    color: rgb(182, 182, 182);
    border-style: solid;
    caret-color: #F87D68;
}

.landing-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'Varela Round', sans-serif; */
    /* font-size: 400%; */
    font-family: 'Lexend Peta', sans-serif;
    font-size: 4vw;
    font-weight: 600;
    /* color: #ff9666; */
    color: #F87D68;
    text-shadow: 0px 4px 4px rgba(8, 8, 8, 0.25)
}