@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lexend+Peta:wght@300;400;700&display=swap');

.navbar {
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 30px;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    align-items: center;
    text-align: center;
    z-index: 999;
}

.nav-img {
    opacity: 0.75;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    filter: saturate(0.7);
}

.nav-logo {
    position: relative;
    width: 70px;
    height: 5%;
    margin: 0 auto;
}

.nav-buttons {
    font-family: 'Lexend Peta', sans-serif;
    font-size: 80%;
    font-weight: 400;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav-buttons-logged-in {
    display: flex;
    width: fit-content;
    margin-right: 7%;
}

.nav-home-btn {
    margin-left: 7%;
}

.nav-login-btn {
    margin-right: 7%;
}

.nav-profile-btn {
    margin-right: 7%;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #F87D68;
    text-decoration: none;
}