
.reviews-title {
    margin-top: 8%;
    /* margin-left: 10%; */
    font-size: 22px;
}

.reviews {
    /* background-color: brown; */
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    width: auto;
}

.review-card {
    background-color: rgb(248, 125, 103);
    width: 40%;
    /* height: 100px; */
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.review-content {
    /* font-size: 18px; */
    font-size: 110%;
}

.review-author {
    float: right;
    margin-top: 20%;
    font-size: 100%;
}