.reviews {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.reviews-title {
    margin-top: 5%;
    font-size: 22px;
}

.review-card {
    margin: 10px 10px;
    background-color: rgb(248, 125, 103);
    width: 375px;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
}

.review-content {
    font-size: 110%;
}

.review-author {
    float: right;
    font-size: 100%;
}