.user-review-form {
    /* background-color: aqua; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.user-review-textbox {
    background-color: rgb(216, 216, 216);
    width: 91%;
    margin: 0 auto;
    height: 100px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
}

.user-author-textbox {
    background-color: rgb(216, 216, 216);
    width: 91%;
    margin: 0 auto;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
}

.user-review-form {
    margin-bottom: 7%;
    text-align: center;
}

.user-review-submit-btn {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: 87%;
    width: fit-content;
    height: 36px;
    text-align: center;
    margin-top: 2%;
    /* margin-left: auto;
    margin-right: 10%; */
    background-color: rgb(59, 62, 250);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}